@charset "UTF-8";
/*.text-muted {
  display: none;
}*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500&display=swap");
body,
a,
h1,
h2,
h3,
h4,
h4.oe_price_h4,
h5,
h6 {
  font-family: "Roboto"; }

.quick_add_to_cart a {
  font-family: "Roboto" !important; }

.oe_product.oe_grid section h5 a,
.js_sale #products_grid_before a.btn-default,
.js_sale #products_grid_before a.btn-primary,
.js_sale #wsd_checkout_form a.btn-default,
.js_sale #wsd_checkout_form a.btn-primary {
  font-family: "Roboto Slab"; }

body,
table .oe_product section {
  color: #5a4941; }

.oe_product.oe_grid section h5 strong {
  font-weight: 600;
  font-size: 22px; }

@font-face {
  font-family: 'OpenSansABold';
  src: url("/care_config/static/src/css/fonts/OpenSans-Bold.eot");
  src: url("/care_config/static/src/css/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/care_config/static/src/css/fonts/OpenSans-Bold.woff") format("woff"), url("/care_config/static/src/css/fonts/OpenSans-Bold.ttf") format("truetype"), url("/care_config/static/src/css/fonts/OpenSans-Bold.svg#OpenSans_bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansARegular';
  src: url("/care_config/static/src/css/fonts/OpenSans-Regular.eot");
  src: url("/care_config/static/src/css/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/care_config/static/src/css/fonts/OpenSans-Regular.woff") format("woff"), url("/care_config/static/src/css/fonts/OpenSans-Regular.ttf") format("truetype"), url("/care_config/static/src/css/fonts/OpenSans-Regular.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansAItalic';
  src: url("/care_config/static/src/css/fonts/OpenSans-Italic.eot");
  src: url("/care_config/static/src/css/fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/care_config/static/src/css/fonts/OpenSans-Italic.woff") format("woff"), url("/care_config/static/src/css/fonts/OpenSans-Italic.ttf") format("truetype"), url("/care_config/static/src/css/fonts/OpenSans-Italic.svg#OpenSans_italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* FONTS */
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url("/care_config/static/src/css/fonts/d049bc4e-8fa0-4797-9919-c124e6da7904.eot?#iefix");
  src: url("/care_config/static/src/css/fonts/d049bc4e-8fa0-4797-9919-c124e6da7904.eot?#iefix") format("eot"), url("/care_config/static/src/css/fonts/ddc46a1f-4501-4c92-82fc-b412d6781f2d.woff2") format("woff2"), url("/care_config/static/src/css/fonts/3a3acd33-1964-4e6b-86ac-1b0fc117d8e0.woff") format("woff"), url("/care_config/static/src/css/fonts/f21c489c-feb8-42f4-abe7-b761a9ef042e.ttf") format("truetype"), url("/care_config/static/src/css/fonts/d8e220ed-4602-498f-be6b-161f6fcd1b92.svg#d8e220ed-4602-498f-be6b-161f6fcd1b92") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueLTStd-Bold';
  src: url("/care_config/static/src/css/fonts/42980074-3753-4614-ac95-9506e9ad6c88.eot?#iefix");
  src: url("/care_config/static/src/css/fonts/42980074-3753-4614-ac95-9506e9ad6c88.eot?#iefix") format("eot"), url("/care_config/static/src/css/fonts/31ee5279-92a8-43d1-9e8d-a418792435d2.woff2") format("woff2"), url("/care_config/static/src/css/fonts/88d3aa78-c646-4af0-9318-7e4405946f99.woff") format("woff"), url("/care_config/static/src/css/fonts/9e90bce2-6d02-4871-be6f-8eb1eb03eccf.ttf") format("truetype"), url("/care_config/static/src/css/fonts/339b37a5-69e3-4a27-a530-38254d6d9d80.svg#339b37a5-69e3-4a27-a530-38254d6d9d80") format("svg"); }
@font-face {
  font-family: 'OfficinaSansStd-Bold';
  src: url("/care_config/static/src/css/fonts/aaf88d3b-e95f-4151-a8ee-e423ca9b1c2e.eot?#iefix");
  src: url("/care_config/static/src/css/fonts/aaf88d3b-e95f-4151-a8ee-e423ca9b1c2e.eot?#iefix") format("eot"), url("/care_config/static/src/css/fonts/79209bd7-d1a2-4b23-af8f-cfe1e95199da.woff2") format("woff2"), url("/care_config/static/src/css/fonts/b422b051-41d8-49be-b329-aeaa08b5cb4d.woff") format("woff"), url("/care_config/static/src/css/fonts/345f5f5e-e3b4-4ebd-b954-8da02cc7493e.ttf") format("truetype"), url("/care_config/static/src/css/fonts/7d5f14d9-042a-4645-93fd-1b97e88500e9.svg#7d5f14d9-042a-4645-93fd-1b97e88500e9") format("svg"); }
@font-face {
  font-family: 'OfficinaSerifStd-Book';
  src: url("/care_config/static/src/css/fonts/OfficinaSerifStd-Book.woff2") format("woff2"), url("/care_config/static/src/css/fonts/OfficinaSerifStd-Book.woff") format("woff"), url("/care_config/static/src/css/fonts/OfficinaSerifStd-Book.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'OfficinaSerifStd-Bold';
  src: url("/care_config/static/src/css/fonts/OfficinaSerifStd-Bold.woff2") format("woff2"), url("/care_config/static/src/css/fonts/OfficinaSerifStd-Bold.woff") format("woff"), url("/care_config/static/src/css/fonts/OfficinaSerifStd-Bold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
/* END FONTS */
#wsd_checkout_form #price_donate {
  background-color: white;
  width: 90px; }

@media only screen and (max-width: 767px) {
  #wsd_checkout_form label.sr-only {
    top: 3px;
    left: 5px; }

  .container #wsd_checkout_form .price_donate_suggested_currency {
    margin-top: 3px;
    margin-left: 3px; }

  .container #wsd_checkout_form .price_donate_suggested_currency, #wsd_checkout_form label.sr-only {
    font-size: 13px;
    line-height: 13px; } }
@media (min-width: 300px) {
  #wsd_checkout_form .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .price_donate_suggested_outer {
    display: inline-block; } }
/* Inline LAyout */
.price_donate, #description_sale {
  padding: 0 5px; }

.input-group {
  display: flex;
  justify-content: center; }

/*#wsd-checkout-box > div > div.panel-body.text-center > form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span:nth-child(1) {
  display: none;
}*/
/* Maybe do this only for a specific category */
/* wsd_payment_page_right_col hide adress datafield on payment method page */
#wsd_payment_page_right_col {
  display: none; }

/* use the 100% space after remove of right side */
@media (min-width: 767px) {
  .col-sm-8 {
    width: 100%; } }
#wsd_checkout_page_right_column {
  display: none; }
  @media (min-width: 992px) {
    #wsd_checkout_page_right_column .col-md-push-8 {
      left: 0%; }
    #wsd_checkout_page_right_column .col-md-8 {
      width: 100%; } }

@media (min-width: 992px) {
  #wsd_checkout_page_left_column .col-md-pull-4 {
    right: 0%; } }

#price_donate {
  height: 90px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  color: #333; }

/* change Warenkorb und Produktpage übereinander und 100% */
/*body[data-rootcatid="7"] {
  #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column;
  }
    @media screen and (max-width: 1024px) {
      body #products_grid.col-md-8 {
      }
    }
}*/
.oe_product.oe_grid.oe-height-2 {
  height: 410px !important; }

.price_donate, #description_sale {
  padding: 0 0; }

.oe_product_image {
  height: 207px !important; }

.wrap_wsd_1 {
  height: 207px !important;
  z-index: 99; }

#products_grid td {
  width: 33.3333%;
  border-spacing: 0;
  border-collapse: none; }

#products_grid table {
  border-collapse: none; }

.oe_product_image:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-image: url(/care_config/static/img/img_overlay_news_white.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4; }

.oe_product.oe_grid .oe_subdescription {
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  margin: 0;
  width: 100%;
  height: 100px; }

.oe_product.oe_grid section h5 strong {
  font-weight: 600;
  font-size: 22px; }

.oe_product section h5 strong a {
  color: #5a4941; }

.oe_product section h5 {
  padding-bottom: 1em; }

.oe_product section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .oe_product section:nth-child(n) {
    padding-bottom: 1em; }
  .oe_product section:last-child(n) {
    padding-bottom: 0em; }

.fa-shopping-cart:before {
  display: none; }

.oe_product .product_price {
  display: none; }

.oe_product.oe_grid {
  border: none;
  box-shadow: none; }
  .oe_product.oe_grid:hover {
    border: none;
    box-shadow: none; }

.wsd_button_back_to_page {
  display: none; }

.oe_product:hover .quick_add_to_cart a {
  background: transparent; }

.quick_add_to_cart a {
  position: relative;
  display: inline;
  line-height: 30px;
  background: none;
  color: #e4761e;
  border: none;
  box-shadow: none;
  font-size: 18px;
  padding: 0; }
  .quick_add_to_cart a:hover {
    color: rgba(228, 118, 30, 0.8); }

.products_pager {
  display: none; }

/* ---------- PRODUCTS GRID BEFORE STYLES ----------- */
#spenden_paket_closed, #spenden_paket_confirmed {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

#products_grid_before {
  box-shadow: 0px 2px 10px 5px #efefef;
  border-radius: 5px;
  background: white; }
  #products_grid_before .small_cart_header {
    height: 50px;
    line-height: 50px;
    background: #ffefcf;
    font-size: 18px;
    padding: 0 20px;
    margin: 0; }
    #products_grid_before .small_cart_header a {
      color: #333; }

body #products_grid_before,
body #products_grid_before.col-md-4 {
  padding: 0; }

@media (max-width: 768px) {
  #products_grid .col-md-8 {
    padding-left: 0px; }

  #products_grid td {
    width: 50%;
    display: inline-table;
    float: left;
    border-spacing: 10px 20px; }

  #products_grid tr {
    display: inline;
    float: none;
    clear: both; }

  #products_grid table {
    margin-top: 20px; }

  .oe_product .oe_product_cart {
    height: 410px;
    margin-bottom: 40px; } }
@media screen and (max-width: 1024px) {
  body #products_grid_before.col-md-4 {
    width: 100%;
    padding-left: 22px;
    padding-right: 22px; }

  body #products_grid.col-md-8 {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

  body #products_grid.col-md-8 td {
    display: inline-table;
    float: left; }

  body #products_grid.col-md-8 tr {
    display: inline;
    float: none;
    clear: both; }

  body #products_grid.col-md-8 table {
    border-spacing: 0;
    margin-top: 20px; }

  body .oe_product .oe_product_cart {
    margin-bottom: 0px; } }
@media (max-width: 991px) {
  #products_grid_before {
    float: left;
    width: 100%; } }
@media (max-width: 768px) {
  .container #products_grid .oe_product {
    margin-top: 0; }

  .container .oe_product .oe_product_cart {
    margin-bottom: 0; }

  .oe_product.oe-height-2 {
    height: 410px !important; }

  .oe_product section {
    margin: auto; }

  #products_grid_before {
    float: none;
    display: block;
    margin: 0 auto; }

  #products_grid.col-md-8 tr {
    float: none;
    clear: both;
    display: inline; }

  #products_grid.col-md-8 td {
    width: 50%;
    display: inline-table;
    float: left;
    border-spacing: 10px 0px; }

  body #products_grid_before.col-md-4 {
    padding-left: 10px;
    padding-right: 10px; }

  .container.oe_website_sale .row {
    margin-left: -10px;
    margin-right: -10px; }

  #products_grid_before .oe_cart.small_cart table td.text-left {
    width: 60%;
    text-align: left; }

  #products_grid_before .oe_cart.small_cart table td.text-right {
    width: 40%;
    text-align: right; }

  body .btn-sm, body .btn-group-sm > .btn {
    padding: 5px 0; }

  #wrapwrap {
    table-layout: fixed; }

  body #products_grid_before > div.small_cart {
    padding-left: 10px;
    padding-right: 10px; }

  body .container #wsd_checkout_form {
    padding: 0 0 10px; }

  body .js_sale #products_grid_before a.btn-default, body .js_sale #products_grid_before a.btn-primary, body .js_sale #wsd_checkout_form a.btn-default, body .js_sale #wsd_checkout_form a.btn-primary {
    width: 100%;
    margin: 10px 0; }

  body .js_sale #wsd_checkout_form a#add_to_cart.btn-primary {
    width: auto; }

  #wsd_checkout_form_submit_button:before, #add_to_cart:before, #wsd_checkout_form_submit_button:after, #add_to_cart:after {
    top: 54px; }

  body .small_cart_buttons {
    padding: 0px 10px;
    margin-right: 0px; }

  #wsd_checkout_form_submit_button {
    margin-bottom: 1.5em; } }
@media (max-width: 500px) {
  body .oe_cart table td:nth-child(2), body #modal_optional_products table td:nth-child(2) {
    border-top-width: 1px; } }
@media screen and (max-width: 480px) {
  #products_grid_before.col-md-4 {
    width: 100%; }

  #products_grid.col-md-8 {
    width: 100%; }

  #products_grid.col-md-8 td {
    width: 100%;
    display: inline-table;
    float: left;
    border-spacing: 10px 20px; }

  #products_grid.col-md-8 tr {
    display: inline;
    float: none;
    clear: both; }

  #products_grid.col-md-8 table {
    margin-top: 20px; } }
.wsd-icon_container img {
  display: none; }

@media (min-width: 300px) {
  #wsd_checkout_form .form-inline .form-group {
    margin-top: 20px; } }
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.amount_title,
.checkout_title,
.payment_title {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 20px;
  background: #ffefcf;
  font-size: 20px;
  display: block;
  margin: 0px auto;
  text-align: left;
  margin-bottom: 1em;
  max-width: none;
  font-weight: normal; }

.price_donate_suggested {
  height: 90px;
  width: 90px;
  min-width: 70px;
  font-size: 35px;
  background-image: none;
  text-shadow: none;
  color: #333;
  box-shadow: none; }
  .price_donate_suggested:focus {
    background: white;
    color: #333;
    box-shadow: none; }
  .price_donate_suggested:hover {
    background: white;
    color: #333;
    box-shadow: none; }
  .price_donate_suggested:active {
    background: white;
    color: #333;
    box-shadow: none; }

.input-group-addon {
  border: 1px solid #ccc;
  background: none; }

.form-control {
  border: 1px solid #ccc;
  height: 46px; }

.payment_interval_ids .form-group select {
  width: 100%;
  margin-top: 10px; }

.arbitrary_price {
  margin-top: 60px; }

#wsd_checkout_form label,
#wsd_checkout_form label.text-danger {
  color: #898989;
  font-weight: normal; }

.price_donate_suggested_currency {
  position: absolute;
  color: #777;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5px; }

/*.price_donate span.input-group-addon:first-child {
  display: none;
}*/
#wsd_checkout_form label.sr-only {
  height: auto;
  clip: inherit;
  z-index: 3;
  position: absolute;
  top: -20px;
  color: #777;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  overflow: visible;
  width: 100%; }

#price_donate {
  height: 90px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  color: #333; }

.f-newsletter_web {
  color: #898989; }

.billing-fields {
  margin: 0 auto; }

#wsd_checkout_form_inside_row {
  box-shadow: 0px 2px 10px 5px #efefef;
  margin: 20px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#wsd_checkout_form .row .row,
#payment_method .col-lg-12 {
  box-shadow: none;
  max-width: 80%;
  margin: 0 auto; }

body .oe_website_sale h1,
body .oe_website_sale h2,
body .oe_website_sale h3,
body .oe_website_sale h4,
body .oe_website_sale h5,
body .oe_website_sale h6 {
  margin: 0 0; }

.oe_website_sale h4.payment_interval_ids {
  margin: 0;
  padding: 20px 0;
  background: white;
  position: relative;
  z-index: 9999999; }
.oe_website_sale h3 {
  margin-top: 0; }

/*.payment_interval_ids hr {
  display: none;
}

.payment_interval_info {
  display: block;
}*/
.js_product > .text-left > .row > .col-md-12:first-child,
.js_product > .text-left > .row > .col-lg-12:first-child,
#wsd_checkout_form > .row > .col-md-12:first-child,
#wsd_checkout_form > .row > .col-lg-12:first-child {
  padding: 0; }

.billing_field_snippet section {
  display: flex;
  align-items: center;
  justify-content: center; }
  .billing_field_snippet section p {
    margin-bottom: 30px;
    font-weight: normal; }

#payment_method {
  width: 100%; }
  #payment_method .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    max-width: none;
    background: #fff;
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 16px; }
  #payment_method .col-lg-12 {
    max-width: 100%; }

.btn-primary {
  background-image: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  font-size: 20px; }

.row {
  margin-left: 0;
  margin-right: 0; }

.form-control-feedback {
  top: 13px;
  right: 15px; }

/* additional fixes for repair css */
/* mini form prize donate field */
.ppt_inline_donation #price_donate {
  height: initial; }
.ppt_inline_donation .price_donate_suggested {
  min-width: auto !important; }
.ppt_inline_donation #wsd-checkout-box > div > div > form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div {
  margin-top: 5px; }
.ppt_inline_donation .checkout_steps_buttons.nav.navbar-right {
  border-bottom: 1px solid #ddd; }
.ppt_inline_donation #wsd_checkout_steps_nav .navbar.checkout_steps_navigation {
  display: flex; }
.ppt_inline_donation .nav-tabs {
  border-bottom: 1px solid #ddd; }
.ppt_inline_donation .checkout_steps_buttons.nav.navbar-right {
  border-bottom: 1px solid #ddd; }
.ppt_inline_donation group-btn > .btn {
  height: 45px;
  padding: 10px 3px 3px 5px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }
.ppt_inline_donation .price_donate .input-group-addon {
  min-width: 55px;
  /* width: fit-content; */ }
.ppt_inline_donation #price_donate {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }
.ppt_inline_donation .arbitrary_price {
  margin-top: 10px; }
.ppt_inline_donation #wsd-checkout-box .panel {
  background-color: #fff; }
.ppt_inline_donation body {
  background-color: #fff;
  font-size: 14px; }
.ppt_inline_donation .price_donate_suggested {
  height: initial;
  width: initial;
  min-width: 70px;
  font-size: initial;
  text-shadow: none;
  color: #333;
  box-shadow: none; }
.ppt_inline_donation .checkout_steps_indicator {
  display: flex; }
.ppt_inline_donation .price_donate_suggested_currency {
  display: none; }
.ppt_inline_donation .ppt_inline_donation .price_donate .input-group-addon {
  width: fit-content; }
.ppt_inline_donation .input-group-lg > .form-control, .ppt_inline_donation .input-group-lg > .input-group-addon, .ppt_inline_donation .input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 3px 3px 5px;
  font-size: 18px; }
.ppt_inline_donation .amount_title, .ppt_inline_donation .checkout_title, .ppt_inline_donation .payment_title {
  font-size: 14px; }

/* Subsciption und fsoForms BAckgrond NEwsletter */
.fso_subscription_wrap.fso_subscription_wrap_1,
.fso_form_wrap.fso_form_wrap_6 {
  background-color: #AB1455;
  color: white; }

/* care repair additional css payment page */
#payment_method .nav-tabs {
  text-align: center; }

@media only screen and (max-width: 767px) {
  .container #payment_method .nav > li {
    display: block;
    text-align: center; } }
#payment_method .nav-tabs > li {
  float: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent; }

#wsd_checkout_form #payment_method .nav-tabs > li img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 3px; }

#payment_method .tab-acquirer-image img,
#payment_method .tab-acquirer-image img.img-responsive {
  display: inline-block;
  max-height: 0.99em;
  width: auto; }

/* FSO Form adressänderung specific css test */
@media (min-width: 767px) {
  #wrap.fso_form_wrap.fso_form_wrap_14 .col-sm-8,
  #wrap.fso_form_wrap.fso_form_wrap_15 .col-sm-8,
  #wrap.fso_form_wrap.fso_form_wrap_17 .col-sm-8 {
    width: initial; } }
#wrap.fso_form_wrap.fso_form_wrap_14 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_14 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div,
#wrap.fso_form_wrap.fso_form_wrap_15 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_15 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div,
#wrap.fso_form_wrap.fso_form_wrap_17 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_17 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div {
  display: flex; }

.btn-warning {
  color: #fff;
  background-color: #e4761e;
  border-color: #e4761e; }

/*# sourceMappingURL=care-repair-css.css.map */
