/* Base fonts */
*:not(.glyphicon) {
    font-family: 'Fira Sans Condensed';
}

/* Headlines */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True]) #wsd-checkout-box h3.amount_title,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True]) #wsd-checkout-box h3.amount_title span {
    text-align: left;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #222;
    margin-bottom: 20px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True]) #wsd-checkout-box h3.amount_title::before {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form_inside_row h3 {
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method h3 {
    display: none;
    background-color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form_inside_row h3 span,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method h3 span {
    text-align: left;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #222;
    margin-bottom: 20px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
h3.checkout_title {
    margin-bottom: 21px !important;
}

/* Small shop cart for multistep */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_header > h1 {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart_header {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart table:first-of-type {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart table:not(#cart_total) {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart #cart_total {
    border-top: 0;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart #cart_total h3 {
    margin-top: 17.5px;
    margin-bottom: 0px;
    font-weight: normal;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart #cart_total * {
    font-family: 'Fira Sans Condensed';
    font-size: 16px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #222;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart #cart_total * {
    text-align: left;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.small_cart #cart_total::before {
    content: "Zahlungsmethoden";
    font-family: Merriweather;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #222;
}

/* Payment intervals */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio * {
    font-family: 'Fira Sans Condensed';
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #000;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Hide the browser's default radio button */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio label:has(input[type=radio]) {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 9px;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    color: black;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio label:has(input[type=radio]:checked) {
    background-color: green;
    padding-top: 10px;
    padding-bottom: 9px;
    background-color: #e36f1e;
    border: 1px solid #e36f1e;
    width: 100%;
    color: white;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio:nth-of-type(1) label:has(input[type=radio]) {
    border-radius: 22.5px 0px 0px 0px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio:nth-of-type(2) label:has(input[type=radio]) {
    border-radius: 0px 22.5px 0px 0px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio:nth-of-type(3) label:has(input[type=radio]) {
    border-radius: 0px 0px 0px 22.5px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals .form-group .radio:nth-of-type(4) label:has(input[type=radio]) {
    border-radius: 0px 0px 22.5px 0px;
}

/* Suggested price boxes */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .product_price,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.ppt_inline_donation .arbitrary_price,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box > div > div.panel-body.text-center > form > div > ul {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_intervals > div {
    margin-bottom: 23px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .arbitrary_price.form-inline {
    display: flex;
    flex-wrap: wrap;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    width: calc(50% - 7.5px);
    background-color: white;
    height: 90px;
    border: 1px solid #222;
    border-radius: 7px;
    margin-bottom: 15px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer.active,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate.active {
    background-color: #e36f1e;
    border: 1px solid #e36f1e;
    color: white;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer.active *,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer.active::before,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate.active *,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate.active::before {
    color: white;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate.active::after {
    background-image: url(/care_config_relaunch_v2/static/src/img/pencil-white.svg);
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer:nth-child(odd),
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate:nth-child(odd) {
    margin-right: 7.5px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer:nth-child(even),
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate:nth-child(even) {
    margin-left: 7.5px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer input[type=button] {
    font-family: Merriweather;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    width: 100%;
    height: 100%;
    outline: 0px;
    background-color: transparent;
    border: 0;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .price_donate_suggested_outer::before,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate::before {
    font-family: Merriweather;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    content: "€";
    position: relative;
    left: 14px;
    top: 13.5px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate::after {
    content: "";
    display: block;
    background-image: url(/care_config_relaunch_v2/static/src/img/pencil.svg);
    background-size: 24px 24px;
    position: relative;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-left: -12px;
    right: 14px;
    top: calc(90px - 24px - 16px);
    /* top: 12px; */
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate .input-group-addon {
    display: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .form-group.price_donate .input-group.input-group-lg {
    display: inline-block;
    margin: 0;
    margin-left: -17px; /* offest for euro symbol */
    padding: 0;
    border-radius: 7px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box #price_donate {
    font-family: Merriweather;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;

    margin: 0;
    padding: 0;
    width: calc(100% - 22px); /* Offset pencil image */
    height: 100% !important;
    border: 0;
    background-color: transparent;
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera hider number buttons */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box #price_donate::-webkit-outer-spin-button,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box #price_donate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide number buttons */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box input[type=number]#price_donate {
  -moz-appearance: textfield;
}

/* Checkout Step idicators */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#product_detail {
    display: flex;
    flex-flow: column;
    text-align: center;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.wsd_checkout_pages_header {
    order: 1;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav {
    text-align: center;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav ul {
    border: 0;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav .checkout_steps_navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-height: unset;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav ul li {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    background-color: white !important;
    margin: 4.5px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav ul li.active {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    border: 1px solid #e36f1e;
    background-color: #e36f1e !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_steps_nav ul li a {
    display: none;
}

#wrap > .oe_website_sale {
    display: flex;
    flex-flow: column;
}

/* Product short description */

/* Display inline description */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .multistep_inline_sale_description {
    display: block;
    font-family: 'Fira Sans Condensed';
    font-size: 20px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #000;
    text-align: left;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .panel-body {
    display: flex;
    flex-flow: column;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#description_sale {
    display: none;
}

/* Hide lock symbol */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.lock-sign,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.lock-text {
    display: none;
}

/* Panels */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.panel.panel-default {
    border: none;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .panel-footer,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd-checkout-box .panel-body {
    border: none;
    background-color: white;
    padding: 0px !important;
}

/* Serach box */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#product_detail div:has(input[name=search]) {
    display: table;
}

/* Fix two column setup by making left column full width */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.wsd_cfi_buttons {
    padding-left: 16px;
    padding-right: 16px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form #wsd_checkout_form_submit_button .glyphicon,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form .wsd_button_back_to_page .glyphicon {
    top: unset !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_page_left_column,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_payment_page_left_col
{
    width: 100% !important;
    position: unset !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form_inside_row div.row.billing-fields {
    width: 100%;
    max-width: 100%;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#website_sale_donate > div > div {
    padding-right: 0px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#product_detail,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_page_left_column{
    padding-left: 0px;
    padding-right: 0px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form_inside_row > div:nth-child(2) {
    padding: 0 !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#wsd_checkout_form_inside_row div.row.billing-fields {
    padding 0 !important;
    margin: 0 !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method > div:nth-child(1) {
    padding: 0;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method {
    margin-top: 24.5px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method #aq3 label {
    font-weight: normal;
    color: #898989 !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#payment_method #aq3 label.un-focused.empty {
    font-weight: normal;
    color: #222 !important;
}

/* payment acquirer boxes */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#order_total .text-right {
    margin-bottom: 0px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.oe_cart table td:nth-last-child(1),
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.oe_cart table td:nth-last-child(2) {
    height: auto !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
ul.nav.nav-tabs li {
    height: 134px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
ul.nav.nav-tabs li .tab-acquirer-image {
    padding-top: 10px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.tab-content {
    border: 0px solid transparent !important;
    padding: 0px !important;
    padding-top: 20px !important;
}

/* Acquirer messages */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.acquirer_pre_msg {
    font-size: 20px;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.acquirer_pre_msg * {
    font-family: 'Fira Sans Condensed' !important;
    font-size: 20px !important;
    color: black !important;
}

/* Acquirer IBAN */

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
label[for="frst_iban"],
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#aq7 > div:nth-child(5) > label
{
    font-weight: normal !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
label[for="frst_iban"].un-focused,
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#aq7 > div:nth-child(5) > label
{
    color: #898989 !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
label[for="frst_iban"].control-label:not(.un-focused):not(.is-focused),
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
label[for="frst_iban"].control-label.empty:not(.is-focused),
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
label[for="frst_iban"].control-label.empty.un-focused
{
    color: #222 !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#frst_iban::-webkit-input-placeholder {
/* WebKit browsers */
    color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#frst_iban:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
    color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#frst_iban::-moz-placeholder {
/* Mozilla Firefox 19+ */
    color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#frst_iban:-ms-input-placeholder {
/* Internet Explorer 10+ */
    color: transparent;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#frst_iban::placeholder {
    color: transparent;
}

/* Button styles for multi-step only */
body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
.btn {
    padding: 16px !important;
}

body[data-on-shop-page=True][data-latest-product-theme=care_multistep]:not([data-confirmation-controller-called=True])
#button_paynow {
    width: 100%;
}
