/* GENERAL START */

/* Font definitions */

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/OpenSans/OpenSans-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/OpenSans/OpenSans-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/OpenSans/OpenSans-latin-ext-bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/OpenSans/OpenSans-latin-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/FiraSans/FiraSans-ext-condensed-bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/FiraSans/FiraSans-condensed-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/FiraSans/FiraSans-ext-condensed-regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/FiraSans/FiraSans-condensed-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/Merriweather/Merriweather-ext-bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/care_config_relaunch_v2/static/src/fonts/Merriweather/Merriweather-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Base fonts */
* {
    font-family: 'Open Sans';
}

*,
input[type=text],
select,
select.form-control,
#website_sale_donate label.control-label:not(.un-focused):not(.is-focused),
#website_sale_donate label.control-label.empty,
#website_sale_donate input[type=button].price_donate_suggested,
#website_sale_donate input[type=number],
#wsd_checkout_form label.control-label:not(.un-focused):not(.is-focused),
#wsd_checkout_form label.control-label.empty,
#wsd_checkout_form input[type=button].price_donate_suggested,
#wsd_checkout_form input[type=number],
span.price_donate_suggested_currency,
.price_donate span.input-group-addon,
.btn.btn-default {
    color: #222;
}

/* Bootstrap buttons */

a.btn {
    font-family: 'Fira Sans Condensed' !important;
    font-weight: bold;
    font-stretch: condensed;
    font-size: 18px;
    letter-spacing: 1.1px;
    border-radius: 5px;
    padding: 18px !important;
}

.btn.btn-primary,
.btn.btn-primary span {
    color: white;
}

body .oe_website_sale .row .row .col-md-12 {
    float: inherit;
}

/* GENERAL END */

/* PRODUCT CARDS AND GRID START */
#products_grid.col-md-8 td,
#products_grid > table {
    border-spacing: 0px !important;
}

body #products_grid.col-md-8 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#products_grid > table > tbody > tr > td.oe_product.oe_grid {
    padding: 1rem;
}

td.oe_product.oe_grid.oe-height-2 {
    height: 552px !important;
}

@media (max-width: 768px) {
    #products_grid .oe_product_cart {
        height: 552px !important;
    }
}

div.oe_product_cart {
    background-color: #EEE9E5;
    border-radius: 10px;
    padding: 2rem;
}

#products_grid td.oe_product.oe_grid section {
    background-color: transparent;
    padding: 2rem;
    height: 300px;
    justify-content: start;
}

#products_grid td.oe_product.oe_grid section h5 {
    word-break: break-word;
}

#products_grid td.oe_product.oe_grid section h5 a {
    font-family: 'Merriweather';
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #222;
    text-decoration: none;
}

#products_grid div.text-info.oe_subdescription div {
    font-family: 'Fira Sans Condensed';
    font-size: 18px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #222;
}

div#products_grid_before {
    width: 100%;
    padding: 30px !important;
    box-shadow: none;
    float: left !important;
}

div#products_grid {
    width: 100%;
}

#products_grid > table > tbody > tr > td > div > form > div > div.wrap_wsd_1 > div.wrap_wsd_2.front > div > a > img {
    width: 100%;
    max-width: 170px;
    max-height: auto !important;
    height: auto;
}

#products_grid .oe_product .oe_product_image {
    top: 35px;
    border-radius: 50%;
    top: 50px;
    left: calc(50% - 170px / 2);
    width: 170px !important;
    height: 170px !important;
    background-color: #5A4941;
}

div.oe_product_image:after {
    background-image: none;
}

#products_grid div.quick_add_to_cart {
    width: calc(100% - 4rem);
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

#products_grid div.quick_add_to_cart a {
    display: block;
    background-color: #e36f1e;
    color: white;
    text-shadow: none;
    padding: 7px !important;
    margin-left: 5px;
    margin-right: 5px;
}

#products_grid .oe_product section {
    overflow: visible;
}

#products_grid .oe_product .product_price {
    position: absolute;
    top: -210px;
    left: calc(50% + 25px);
}

#products_grid .oe_product .product_price {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    background-color: #e36f1e;
    color: white;
    margin: 0;
    padding: 0;
}

#products_grid .oe_product .product_price span {
    position: absolute;
    right: 0;
    top: 5px;
    display: block;
    width: 70px;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.1px;
    color: white;
}

#products_grid .oe_currency_value {
    color: white;
}

#products_grid .oe_product .product_price span span {
    position: relative;
    display: inline-block;
    width: fit-content;
    top: 15px;
    right: -2px;
    font-size: 22px;
    letter-spacing: -2.2px;
}

/* PRODUCT CARDS AND GRID END */

/* FORM REDESIGN START */

/* Hide product image and header */
#website_sale_donate img.product-image,
#website_sale_donate h1 {
    display: none;
}

/* Reorder elements */

div.js_product {
    display: grid;
}

h3.amount_title {
    order: -2;
}

div.js_product h4#payment_intervals {
    order: -1;
    padding: 0 !important;
}

#payment_intervals > div > select {
    padding-left: 8px !important;
}

div.js_product div.text-left {
    display: grid;
}

div.wsd_opc_payment {
    order: -1;
}

/* Fix headline spacing and indentation */

h3.amount_title,
h3.checkout_title,
h3.payment_title {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding-left: 0;
}

/* Counter graphics */
body {
  counter-reset: section;
  counter-increment: section; /* start counter at 2, the parent website renders the first */
}

#website_sale_donate h3 {
    font-weight: bold;
    font-size: 18px;
    color: black;
    background: transparent;
}

section[name="one-page-checkout"] h3 {
    margin-bottom: 15px !important;
}

section[name="one-page-checkout"] h3,
section[name="one-page-checkout"] h3 > span,
#products_grid_before .small_cart_header,
#products_grid_before .small_cart_header span {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 42px;
    background: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#website_sale_donate h3:before {
    counter-increment: section;
    /* content: counter(section); do not use real counter, due to CSS order, it's counted wrong */
    margin-right: 1rem;
    background-color: #E36F1E;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    font-size: 14px;
}

#wsd-checkout-box h3.amount_title:before { content: "2"; }
#wsd-checkout-box h3.payment_title:before { content: "3"; }
#wsd-checkout-box h3.checkout_title:before { content: "4"; }

/* Suggested price boxes - OPC forms */

.arbitrary_price.form-inline {
    font-size: 0;
}

span.price_donate_suggested_outer {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    width: 50%;
    background-color: transparent;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > span > input {
    width: 100%;
    height: 70px;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    #wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > span > input {
        text-align: right;
    }
}

.price_donate_suggested_currency {
    display: inline-block;
    margin-left: 10px !important;
    margin-top: 22px !important;
    font-size: 14px !important;
    line-height: 25px !important;
    pointer-events: none;
}

.active .price_donate_suggested_currency {
    color: #E36F1E !important;
}

.container #wsd_checkout_form .active .price_donate_suggested_currency::before,
#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div.active > div > span.input-group-addon:last-of-type::before {
    border: 2px solid #E36F1E;
    content: "\e013";
}

.container #wsd_checkout_form .price_donate_suggested_currency::before,
#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span.input-group-addon:last-of-type::before {
    content: "";
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border: 2px solid #DEDEDE;
    border-radius: 12px;
    pointer-events: none;
    vertical-align: top;
    overflow: clip;
    background-position: center;
    font-size: 12px;
    font-family: 'Glyphicons Halflings'
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > span > input:focus,
#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > span.active > input{
    width: 100%;
    color: #E36F1E;
    background-color: #FDF7F3;
    border: 1px solid #E36F1E;
    border-radius: 0;
    outline: 0;
}

div.form-group.price_donate {
    border: 1px solid #DEDEDE;
    width: 100%;
}

div.form-group.price_donate label {
    display: none;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div {
    display: flex;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div,
#wsd_checkout_form #price_donate {
    width: 100% !important;
    border: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span {
    border: 0;
    background-color: white;
    border-radius: 0;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span.input-group-addon:first-of-type {
    display: none;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div > span.input-group-addon:last-of-type {
    order: -1;
    font-size: 14px;
    line-height: 30px;
    min-width: 90px;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div.active {
    background-color: #FDF7F3;
    border: 1px solid #E36F1E !important;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div.active > div > span.input-group-addon:last-of-type,
#wsd_checkout_form .active #price_donate {
    color: #E36F1E;
    background-color: #FDF7F3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    height: 70px !important;
}

.input-group-lg > .input-group-addon {
    padding: 20px 10px !important;
}

@media only screen and (max-width: 767px) {
    #wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > span > input {
        margin-bottom: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Suggested price boxes - multi page forms */

/* TODO */

/* Payment interval box */

small.payment_interval_info,
div.js_product h4#payment_intervals hr {
    display: none !important;
}

#payment_intervals > div {
    width: 100%;
}

#payment_intervals > div select,
#payment_intervals > div select.has-success.form-control{
    border-radius: 0;
    border: 1px solid #DEDEDE;
}

#payment_intervals > div select:focus,
#payment_intervals > div select.has-success.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#payment_intervals > div > span {
    display: none;
}

#wsd_checkout_form > div > div.product_price.mt16 {
    margin-top: 0 !important;
}

/* Form box */

div#wsd_checkout_form_inside_row {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wsd_checkout_form_inside_row div.row.billing-fields {
    margin-left: -30px !important;
    margin-right: -30px !important;
    width: calc(100% + 64px);
    max-width: calc(100% + 64px);
}

@media only screen and (max-width: 768px) {
    div#wsd_checkout_form_inside_row {
        padding: 0px !important;
    }
}

/* Form groups */


/* Payment methods */

#payment_method > div:nth-child(2) {
    padding: 0;
}

ul.nav.nav-tabs li {
    display: inline-block;
    border: 1px solid #DEDEDE;
    width: 33.33%;
    height: 151px;
    background-color: white;
    line-height: 151px;
    text-align: center;
    margin-bottom: 0px;
}

ul.nav.nav-tabs li.active {
    border: 1px solid #E36F1E;
}

ul.nav.nav-tabs li.active a {
    background-color: #FDF7F3;
    color: #E36F1E;
}

ul.nav.nav-tabs li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: black;
}

ul.nav.nav-tabs li a span.tab-acquirer-image {
    display: block;
    height: 95px;
    padding-top: 20px;
    line-height: 70px;
}

ul.nav.nav-tabs li a span.tab-acquirer-image img {
    display: inline-block;
    width: 100% !important;
    height: auto !important;
    max-width: 70px !important;
    max-height: 70px !important;
}

div.tab-content {
    height: auto !important;
}

@media only screen and (max-width: 767px) {
    .container #payment_method ul {
        font-size: 0;
        text-align: left;
    }
    .container #payment_method .nav > li {
        font-size: 14px;
        display: inline-block !important;
    }
}

ul.nav.nav-tabs li:first-child+li+li+li+li:last-child::after {
    content: "x";
    color: transparent;
    float: right;
    display: inline-block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: relative;
    top: calc(-100% - 1px);
    left: calc(100% + 3px);
    border: 1px solid #DEDEDE;
}

@media only screen and (max-width: 480px) {
    ul.nav.nav-tabs li {
        width: 50%;
    }
}

@media only screen and (max-width: 326px) {
    ul.nav.nav-tabs li {
        width: 100%;
    }
}

@media only screen and (max-width: 574px) {
    ul.nav.nav-tabs li {
        height: 127px;
        line-height: 127px;
    }

    ul.nav.nav-tabs li a span.tab-acquirer-image {
        padding-top: 15px;
        height: 70px;
        line-height: 50px;
    }

    ul.nav.nav-tabs li a span.tab-acquirer-image img {
        max-width: 50px !important;
        max-height: 50px !important;
    }

    #payment_method .tab-acquirer-name {
        word-break: break-word;
    }
}

/* Checkbox fields */

#wsd_checkout_form div.f-type-boolean label {
    display: block;
    border: 1px solid #DEDEDE;
    padding: 16px 20px;
}

#wsd_checkout_form div.f-type-boolean input[type=radio],
#wsd_checkout_form div.f-type-boolean input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 8px;
    accent-color: #E36F1E;
}

#wsd_checkout_form div.f-type-boolean input[type=radio]:not(:checked),
#wsd_checkout_form div.f-type-boolean input[type=checkbox]:not(:checked) {
    opacity: 0.4;
}

/* Text input fields */

#wsd_checkout_form div input[type=text]::-webkit-input-placeholder { /* Edge */
  /* color: transparent !important; */
  text-align: right;
}
#wsd_checkout_form div input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  /* color: transparent !important; */
  text-align: right;
}

#wsd_checkout_form div input[type=text]::placeholder {
  /* color: transparent !important; */
  text-align: right;
}

label.un-focused,
label.is-focused {
    position: absolute;
    font-size: 12px;
    top: -6px;
    /* background-color: #ffa; */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

label.un-focused.empty,
label.is-focused.empty {
    position: absolute;
    font-size: 17px;
    left: 16px;
    top: 15px;
    /* background-color: yellow; */
    pointer-events: none;
}

@media only screen and (max-width: 1199px) {
    label.un-focused,
    label.is-focused {
        position: absolute;
        font-size: 12px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    label.un-focused.empty,
    label.is-focused.empty {
        position: absolute;
        font-size: 17px;
        left: 16px;
        /* background-color: orange; */
        pointer-events: none;
    }
}

#wsd_checkout_form input[type=text],
#wsd_checkout_form select {
    height: 54px;
    /* background-color: #afa; */
}

#wsd_checkout_form input[type=text],
#wsd_checkout_form select {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0px !important;
    padding-right: 50px !important;
}

#wsd_checkout_form select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23000000' stroke='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
}

#wsd_checkout_form select + .glyphicon {
    margin-right: 2.5rem;
}

#wsd_checkout_form .glyphicon {
    top: 10px;
}

#wsd_checkout_form .glyphicon-info-sign {
    position: absolute;
    top: 20px !important;
    right: 4px !important;
    color: #e36f1e;
}

#wsd_checkout_form .f-type-boolean .glyphicon-info-sign {
    top: 21px !important;
    margin-lef: 8px !important;
    right: 32px !important;
    border-left: 8px solid transparent;
}

@media only screen and (max-width: 1199px) {
    #wsd_checkout_form .f-type-boolean .glyphicon-info-sign {
        top: 21px !important;
        margin-lef: 8px !important;
        right: 32px !important;
        border-left: 8px solid transparent;
    }
}

/* Checkout box */

.lock-sign {
    margin-top: 32px;
    margin-bottom: 13px;
    padding: 0;
}
.lock-text {
    margin: 0;
}

/* FORM REDESIGN END */
