.ppt_opc_cb_inner > h1 {
  display: none;
}

.row #wsd_checkout_form .row, #wsd_checkout_form .row, .product_price.mt16, .payment_interval_ids {
  max-width: 704px;
  margin: 0px auto;
  text-align: left;
}

body .oe_website_sale h4.payment_interval_ids {
  margin: 2em auto 30px;
}

.product_price.mt16, .payment_interval_ids {
  padding: 0px 6px; 
}

// .product_price.mt16:before {
//   content: 'Bitte wählen Sie Ihre gewünschte Spendenhöhe';
//   display: block;
//   background: #efb71b;
//   padding: 10px;
//   font-size: 20px;
//   position: relative;
//   margin-bottom: 28px;
//   color: #333;
// }

#wsd_checkout_form label.sr-only {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  font-size: 0px;
  clip: inherit;
  z-index: 3;
}

#wsd_checkout_form label.sr-only:before {
  content: 'Betrag';
  position: absolute;
  top: 6px;
  left: 7px;
  color: #777;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

#wsd_checkout_form .price_donate .input-group-addon, #wsd_checkout_form #price_donate {
  height: 90px;
  color: #777;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#wsd_checkout_form #price_donate {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

#wsd_checkout_form #price_donate {
  font-size: 22px;
}

.price_donate_suggested_outer {
    margin: 0 3px;
}

.container #wsd_checkout_form {
  background: #ffffff;
  padding: 0 30px 30px;
}

#wsd_checkout_form .row.billing-fields {
    margin-left: -6px;
    margin-right: -6px;
}

.checkout_title:before, #payment_method .col-lg-12:first-child:before {
  display: none;
}

#wsd_checkout_form {
  .page-header {
    background: $careyellow;
    padding: 13px 10px 13px 50px;
    font-size: 20px;
    position: relative;
  }

  .page-header:before {
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    background: white;
    content: ' ';
    left: 10px;
    top: 9px;
  }

  label {
    color: #333;
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 7px;
  }

  label.text-danger {
    color: #333333;
  }

  .form-control:focus {
    border-color: $focusorange;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}

.one-page-checkout .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.container #wsd_checkout_form .checkbox {
  min-height: 0;

  label {
    line-height: 20px;
  }
}

.container #wsd_checkout_form {
  .price_donate_suggested_currency {
      color: #777;
      font-size: 16px;
      margin-top: 5px;
      margin-left: 5px;
  }

  .form-control {
    font-size: 18px;
    color: #333;
    height: 46px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  
  .form-control:focus {
    border-color: $focusorange;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  .has-error .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  .form-control-feedback {
    top: auto;
    bottom: 5px;
    right: 15px;
  }
}

.arbitrary_price {
  text-align: center;
}

.payment_interval_ids {
  margin: 2em 0 30px;
  text-align: center;
  
  hr {
    display: none;
  }

  small, .form-group {
    display: inline-block;
    vertical-align: bottom;
  }

  small {
    font-size: 15px;
  }

  .form-group {
    width: 240px;

    select {
      width: 100%;
      margin-top: 10px;
    }
  }
} 

#wsd_checkout_form #payment_method {
  .nav-tabs > li > a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: inherit;
  }

  .nav-tabs > li:last-child {
    float: right;
  }

  .nav-tabs > li:last-child > a {
    margin-right: 0;
  }

  .nav-tabs > li.active > a, .nav > li > a:hover, .nav > li > a:focus {
    background: #fff;
    color: $careyellow;
  }

  .nav-tabs {
    text-align: left;
  }

  .nav-tabs > li img {
    display: inline-block !important;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
  }

  .tab-content {
    height: auto !important;
    padding: 20px;
    max-width: none;
    background: #fff;
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 16px;
  }
}

.ppt_opc .price_donate {
    display: inline-block;
  }

.opc_warnings {
  color: red;
  text-align: center;

}

.form-group input[type="checkbox"] {
    position: relative;
    top: 0px;
    margin-right: 7px;
}

@media (min-width: 300px) {
  #wsd_checkout_form .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    //margin-top:10px;
  }
  .price_donate_suggested_outer {
    display: inline-block;
  }
}


// .checkbox {
//   label {
//       position:relative;   
//       cursor:pointer;
//   }
//   label [type="checkbox"] {
//       display:none;
//   }
//   [type="checkbox"] + span {
//       display: inline-block;
//       padding: 1em;
//   }
//   :checked + span {
//       background:#0f0;
//   }
//   [type="checkbox"][disabled] + span {
//       background:#f00;  
//   }​
// }