#wsd_checkout_form {
  background: #F5F5F5;
}

#wsd_checkout_form .row {
  margin: 0 auto;
}

#wsd_checkout .page-header {
  background: $careyellow;
  padding: 13px 10px 13px 50px;
  font-size: 20px;
  position: relative;
}
.checkout_title::before, #payment_method .col-lg-12:first-child::before {
  display: none;
}

#wsd_checkout .page-header:before {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 48px;
  background: white;
  content: ' ';
  left: 10px;
  top: 9px;
}

#wsd_checkout_form label {
  color: #333;
}

// #wsd_checkout label {
//   color: rgba(0,0,0,.5);
// }

#wsd_checkout label.text-danger {
  color: #333333;
}

#wsd_checkout .form-control {
  border-radius: 0;
}

#wsd_checkout .form-control:focus {
  border-color: $focusorange;
  box-shadow: none;
}

.container #wsd_checkout_form {
  .form-control {
    font-size: 18px;
    color: #333;
    height: 46px;
    box-shadow: none;
  }
  
  .form-control:focus {
    border-color: $focusorange;
    box-shadow: none;
  }

  .has-error .form-control:focus {
    box-shadow: none;
  }

  .form-control-feedback {
    top: auto;
    bottom: 5px;
  }
}

#wsd_checkout_form #payment_method {
  .nav-tabs > li > a {
    border-radius: 0px;
    color: inherit;
  }

  .nav-tabs > li.active > a, .nav > li > a:hover, .nav > li > a:focus {
    background: #fff;
    color: $careyellow;
  }

  .nav-tabs {
    text-align: left;
  }

  .tab-content {
    height: auto !important;
    padding: 20px;
    max-width: none;
    background: #fff;
    margin: 0 auto 40px;
  }
}




// .checkbox {
//   label {
//       position:relative;   
//       cursor:pointer;
//   }
//   label [type="checkbox"] {
//       display:none;
//   }
//   [type="checkbox"] + span {
//       display: inline-block;
//       padding: 1em;
//   }
//   :checked + span {
//       background:#0f0;
//   }
//   [type="checkbox"][disabled] + span {
//       background:#f00;  
//   }​
// }