

.fa-shopping-cart:before {
    content: "\00a0\f004\00a0";
}

.js_sale .btn-primary {
    color: white;
    background-color: $orange;
    border-color: black;
}
#wsd-checkout-box {
    font-size: 14px;

}
#wsd-checkout-box,
#wsd-checkout-box a,
#wsd-checkout-box h1,
#wsd-checkout-box h2,
#wsd-checkout-box h3,
#wsd-checkout-box h4,
#wsd-checkout-box h5,
#wsd-checkout-box p {
  font-family: Arial, Helvetica, sans-serif;
}
#wsd-checkout-box h1 {
  font-size: 1.5em;
}

//.oe_product.oe_grid {
//    border: 1px solid rgb(41, 38, 38);
//}

//.products_pager {
//  display: none;
//}
.oe_product.oe_grid {
  border: none;
  box-shadow: none;
}
.oe_product.oe_grid:hover {
    //border: 1px solid rgb(41, 38, 38);
    border: none;
    //box-shadow: 2px 2px 12px rgb(160, 160, 160);
    box-shadow: none;
}
.oe_product section {
  // padding-bottom: 30px;
  background: $careyellow !important;
  border-top: none;
  padding: 0 !important;
}
.quick_add_to_cart {
  width: 100%;
  background: #666;
  text-align: center;
}

.oe_product.oe-height-2 {
  height: 400px;
}

.oe_product .oe_product_image img {
  height: auto;
  bottom: inherit;
  min-width: 345px;
}

.oe_product .oe_product_image img:hover {
  height: auto;
}

.btn-xs, .btn-group-xs > .btn {
  width: 100%;
  padding: 6px 12px;
}

.oe_product.oe_grid .oe_subdescription {
  background: lightgray;
  height: 70px;
  margin: 0 !important;
  color: black;
  width: 100%;
  height: 100px;
}
.oe_product.oe_grid section h5 strong a {
 margin: 4px;
}
.nav .fa-shopping-cart,
.small_cart_header .fa-shopping-cart {
  display: none;
}
.btn.btn-default.btn-xs.fa.fa-shopping-cart {
  color: white;
}
.fa-shopping-cart {
  background: transparent;
  border: 0px;
}
.fa-shopping-cart:before {
  content: "Ins CARE-Packet legen";
  background: transparent;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
.oe_product.oe_grid section h5 {
  //display: inline;
  //display: initial;
  //float: left;
  width: 100%;
  height: 40px;
  strong {
    font-size: 100%;
  a {
      color: black;
    }
  }

}

.oe_product .product_price {
  padding: 0;
}

.oe_product.oe_grid section .product_price {
  display: inline;
  float: right;
  color: black;
  position: relative;
  //padding: 0;
}
.oe_product.oe_grid section .product_price .a-submit {
  clear: both;
  display: block;
  width: 100%;
}
.oe_currency_value {
  float: right;
  padding-left: 2px;
}
// SHOP CATEGORIES NAVIGATION
ul.cat_menu li {
  font-size: 14.3999996185303px;
  line-height: 1em;
  a {
    color: $orange;
    font-size: 14.3999996185303px;
    padding: 0;
    padding-bottom: 6px;
  }
  ul.nav-hierarchy {
    padding-left: 0;
  }
}

ul.cat_menu > li {
  margin-bottom: 2em;
}
// Alle Artikel
ul.cat_menu > li.cat0 {
  margin-bottom: 1em;
  a {
    border: none;
    color: $orange;
    font-size: 18.7199993133545px;
    text-transform: none;
  }
  a:before {
    display: inline-block;
    content: "\00a0\f004\00a0";
    font-family: FontAwesome !important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
#products_grid_before .nav-pills > li.cat0.active > a,
#products_grid_before .nav-pills > li.cat0.active > a:hover,
#products_grid_before .nav-pills > li.cat0.active > a:focus {
  color: $orange;
  background-color: inherit;
  font-weight: 300;
}

.text-info.oe_subdescription {
  color: darkgrey;
}

// level 1
ul.cat_menu > li > a {
  color: #413839;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: solid 1px #000;
  border-radius: 0;
  padding-left: 0;
  padding-bottom: 0.5em;
  margin: 0 0 1em 0;
}


// PRODUCT LISTINGS:
//all nav-pills navigations
#products_grid table {
  border-spacing: 12px 24px;
}

#products_grid_before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.3999996185303px;
  float: right;
  padding-top: 34px;
}
#products_grid_before .nav-pills > li.active > a,
#products_grid_before .nav-pills > li.active > a:hover,
#products_grid_before .nav-pills > li.active > a:focus {
  color: inherit;
  background-color: inherit;
  font-weight: bold;
}
// small_cart on left side
#products_grid_before #cart_products thead {
  display: none;
}

// SMALL CART
#products_grid_before .small_cart a {
    font-size: 12px;
}

.small_cart a {
  color: black;
}
.small_cart a strong {
  font-weight: normal;
}

.small_cart_header {
  background: #333;
  padding: 13px 10px 13px 50px;
  font-size: 20px;
  padding: 10px;
  a {
    color: White;
  }
  small.text-danger {
    color: $orange;
  }
}

// BREADCRUMB
.breadcrumb {
  font-size: 14px;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: inherit;
    border-radius: 0;
}

// CHECKOUT PAGE
#wsd_checkout label {
    height: 32px;
}
.oe_website_sale {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.7em;
  }
}

@media screen and ( max-width: 1150px ) {

}

@media (max-width: 991px) {
  #products_grid_before {
    float: left;
    width: 100%
    }
}

@media (max-width: 768px) {

  .oe_product.oe-height-2 {
    height: 400px !important;
  }

  .oe_product section {
    width: 345px;
    margin: auto;
  }

  .oe_product .oe_product_image img {
    width: 345px;
  }

  #products_grid .oe_product {

  }
}