// GLOBAL VARIABLES
$orange: #e57424;
$focusorange: #e4701e;
$careyellow: #efb71b;

.btn {
  border-radius: 0;
}

.btn-primary {
  background: $careyellow;
  background-color: $careyellow !important;
  border: none;
}

.btn-primary:hover {
  background: $orange;
}

// Import Files
@import "fontfaces";
@import "website";
@import "website_menu";
@import "website_sale";
@import "website_checkout";
@import "website_wsd_checkout_form";
@import "website_care-patin-werden";
@import "website_online-spenden";
@import "website_online-spenden-2";
@import "website_schenken-mit-sinn";