@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500&display=swap');


/* Care Website Relaunch CSS
 Load this css by adding care-relaunch-css in the query string
 e.g.: https://care.datadialog.net/?care-relaunch-css
 ATTENTION: Add this to the frontend asset at the relaunch day to permanently include and minify the css!
 */

body, a, h1, h2, h3, h4, h4.oe_price_h4, h5, h6 {
	font-family: 'Roboto';
}

.quick_add_to_cart a {
	font-family: 'Roboto' !important;
}

.oe_product.oe_grid section h5 a, .js_sale #products_grid_before a.btn-default, .js_sale #products_grid_before a.btn-primary, .js_sale #wsd_checkout_form a.btn-default, .js_sale #wsd_checkout_form a.btn-primary {
    font-family: 'Roboto Slab';
}

body, table .oe_product section {
	color: #5A4941;
}

#wsd_checkout_form .price_donate .input-group-addon,
#wsd_checkout_form #price_donate,
.btn-default,
#products_grid_before .small_cart_header a,
#products_grid_before .oe_cart.small_cart table td {
	color: inherit;
}

.row #wsd_checkout_form .row,
#wsd_checkout_form .row,
.product_price.mt16,
.payment_interval_ids,
#wsd_checkout_form .amount_title,
#payment_method .col-lg-12:first-child {
	max-width: none;
}

#products_grid_before {
	background: white;
}

#products_grid_before .box_content {
	display: none;
}

#products_grid_before .small_cart.oe_cart {
	margin-top: 50px;
}

body #products_grid_before, body #products_grid_before.col-md-4 {
	padding: 0;
}

#wsd_checkout_form .amount_title,
.checkout_title,
.payment_title,
#products_grid_before .small_cart_header {
	background: #FFEFCF;
}

#wsd_checkout_form .amount_title {
	margin-bottom: 0;
	border: 0;
}

body .oe_website_sale h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.container #wsd_checkout_form {
	padding: 0 0 30px;
	margin-top: 60px;
}

.container #wsd_checkout_form .form-control:focus {
	border-color: inherit;
}


.js_product > .text-left > .row,
#wsd_checkout_form > .row,
#products_grid_before {
	box-shadow: 0px 2px 10px 5px #EFEFEF;
}

.js_product > .text-left > .row {
	overflow: hidden;
}

.js_product > .text-left > .row,
#wsd_checkout_form > .row,
#wsd_checkout_form .amount_title,
#wsd_checkout_form input,
.checkout_title,
.payment_title {
	border-radius: 5px;
}

#wsd_checkout_form .amount_title,
.checkout_title,
.payment_title {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.js_product > .text-left > .row,
.row #wsd_checkout_form .row,
#wsd_checkout_form .row {
	margin: 20px 0;
}

#wsd_checkout_form .row .row,
#payment_method .col-lg-12 {
	box-shadow: none;
	max-width: 80%;
	margin: 0 auto 
}

.js_product > .text-left > .row > .col-md-12:first-child,
.js_product > .text-left > .row > .col-lg-12:first-child,
#wsd_checkout_form > .row > .col-md-12:first-child,
#wsd_checkout_form > .row > .col-lg-12:first-child {
	padding: 0;
}

body .oe_website_sale h3 {
	margin-top: 0px;
}

#wsd_checkout_form label,
#wsd_checkout_form label.text-danger {
	color: #898989;
}

.js_sale #wsd_checkout_form a.btn-primary {
	font-size: 20px;
	float: right;
	margin-top: 40px;
}

.js_sale a.btn-primary:hover {
	background: #e4761e;
}

.container #wsd_checkout_form .form-control {
	border-radius: 3px;
}

#wsd_checkout_form #payment_method label {
	margin-bottom: 5px 
}

#wsd_checkout_form .amount_title,
.checkout_title,
.payment_title {
	padding: 10px 20px;
}

.oe_product .product_price {
	margin-top: 50px;
	padding-top: 40px;
	position: relative;
	z-index: 1111;
	margin-bottom: 0;
	background: white;
}

.oe_product.oe_grid section .product_price {
	display: none;
}

#wsd_checkout_form label.sr-only {
	hyphens: auto;
	font-size: 14px;
	top: -20px;
	text-align: center;
	left: 0;
}

#wsd_checkout_form #price_donate {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#wsd_checkout_form .price_donate .input-group-addon {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.amount_title {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: none;
}

body .oe_website_sale h4.payment_interval_ids {
	margin: 0;
	padding: 20px 0;
	background: white;
	position: relative;
	z-index: 9999999;
}

body table .oe_product section,
body .js_sale a.btn-default,
body .oe_product.oe_grid .oe_subdescription,
body .quick_add_to_cart {
	background: none;
	text-align: left;
}

.wsd-icon_container {
	overflow: hidden;
}

.oe_product_image:after {
	content: '';
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-image: url("../../img/img_overlay_news_white.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 4;
}

.checkout_title,
.payment_title {
	margin-top: 0;
}

#products_grid td {
	width: 33.3333%;
	border-spacing: 15px 40px;
}

.btn.btn-default.btn-xs.fa.fa-shopping-cart {
	color: #E4761E;
	text-align: left;
}

.oe_product.oe_grid section h5 strong {
	font-weight: 600;
	font-size: 22px;
}

body #products_grid.col-md-8 {
	float: left;
}

body #products_grid_before.col-md-4,
body #products_grid_before {
	border-radius: 5px;
	overflow: hidden;
}

body[data-catid="7"] {
	padding: 30px;
}

.oe_product:hover .quick_add_to_cart a {
	background: transparent;
}

.quick_add_to_cart a {
	position: relative;
	display: inline;
	line-height: 30px;
}

.quick_add_to_cart a:after {
	position: relative;
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 20.5px;
	height: 20.5px;
	background-image: url("../../img/arrow_right_orange.png");
	background-repeat: no-repeat;
	background-size: 80% auto;
	vertical-align: bottom;
	margin-left: 10px;
	left: 0;
	transition: left .3s ease-out;
}

.small_cart_buttons {
	text-align: center;
}

#cart_products .pull-right {
	height: 40px;
	line-height: 40px;
}

.js_sale #products_grid_before a.btn-default, .js_sale #products_grid_before a.btn-primary, .js_sale #wsd_checkout_form a.btn-default, .js_sale #wsd_checkout_form a.btn-primary {
	border-radius: 2px;
}

#products_grid_before .small_cart_buttons .pull-right {
	float: none !important;
}

a.remove_product {
	color: #E4761E;
}
