.text-muted {
  display: none;
}

body,
a,
h1,
h2,
h3,
h4,
h4.oe_price_h4,
h5,
h6 {
  font-family: "Roboto";
}

.quick_add_to_cart a {
  font-family: "Roboto" !important;
}

.oe_product.oe_grid section h5 a,
.js_sale #products_grid_before a.btn-default,
.js_sale #products_grid_before a.btn-primary,
.js_sale #wsd_checkout_form a.btn-default,
.js_sale #wsd_checkout_form a.btn-primary {
  font-family: "Roboto Slab";
}

body,
table .oe_product section {
  color: #5a4941;
}
