.oe_product {
  height: 410px;
}

#products_grid td {
  width: 33.3333%;
  border-spacing: 15px 40px;
}

.oe_product.oe_grid .oe_subdescription {
  font-size: 16px;
  line-height: 22px;
  padding: 10px 11px 5px;
  color: inherit;
  margin: 0;
  width: 100%;
  height: 100px;
}

.oe_product.oe_grid section h5 strong {
  font-weight: 600;
  font-size: 22px;
}

.oe_product section h5 strong a{
  color: #5A4941;
}

.oe_product {
  .product_price{
    display: none;
  }
}

.oe_product.oe_grid{
  border: none; 
  box-shadow: none;
}

