.container{
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}


.amount_title,
.checkout_title,
.payment_title {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 20px;
  background: #ffefcf;
  font-size: 20px;
  display: block;
  margin: 0px auto;
  text-align: left;
  margin-bottom: 1em;
  max-width: none;
  font-weight: normal;

}

.price_donate_suggested {
  height: 90px;
  width: 90px;
  min-width: 70px;
  font-size: 35px;
  background-image: none;
  text-shadow: none;
  color: #333;
  box-shadow: none;

  &:focus {
    background: white;
    color: #333;
    box-shadow: none;
  }
  &:hover {
    background: white;
    color: #333;
    box-shadow: none;
  }
  &:active {
    background: white;
    color: #333;
    box-shadow: none;
  }
}

.input-group-addon {
  border: 1px solid #ccc;
  background: none;
}

.form-control {
  border: 1px solid #ccc;
  height: 46px;

  
}

.payment_interval_ids .form-group select {
  width: 100%;
  margin-top: 10px;
}

.arbitrary_price {
  margin-top: 60px;
}

#wsd_checkout_form label,
#wsd_checkout_form label.text-danger {
  color: #898989;
  font-weight: normal;
}

.price_donate_suggested_currency {
  position: absolute;
  color: #777;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5px;
}


/*.price_donate span.input-group-addon:first-child {
  display: none;
}*/

#wsd_checkout_form label.sr-only {
  height: auto;
  clip: inherit;
  z-index: 3;
  position: absolute;
  top: -20px;
  color: #777;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  overflow: visible;
  width: 100%;
}

#price_donate {
  height: 90px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 22px;
  color: #333;
}

.f-newsletter_web {
  color: #898989;
}

.billing-fields {
  //max-width: 80%;
  margin: 0 auto;
}

#wsd_checkout_form_inside_row {
  box-shadow: 0px 2px 10px 5px #efefef;
  margin: 20px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#wsd_checkout_form .row .row,
#payment_method .col-lg-12 {
  box-shadow: none;
  max-width: 98%;
  margin: 0 auto;
}
body .oe_website_sale h1,
body .oe_website_sale h2,
body .oe_website_sale h3,
body .oe_website_sale h4,
body .oe_website_sale h5,
body .oe_website_sale h6 {
  margin: 0 0;
}

.oe_website_sale {
  h4.payment_interval_ids {
    margin: 0;
    padding: 20px 0;
    background: white;
    position: relative;
    z-index: 9999999;
  }

  h3 {
    margin-top: 0;
  }
}

/*.payment_interval_ids hr {
  display: none;
}

.payment_interval_info {
  display: block;
}*/

.js_product > .text-left > .row > .col-md-12:first-child,
.js_product > .text-left > .row > .col-lg-12:first-child,
#wsd_checkout_form > .row > .col-md-12:first-child,
#wsd_checkout_form > .row > .col-lg-12:first-child {
  padding: 0;
}

.billing_field_snippet section {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-bottom: 30px;
    font-weight: normal;
  }
}

#payment_method {
  width: 100%;

  .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    max-width: none;
    background: #fff;
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .col-lg-12 {
    max-width: 100%;
  }
}

.btn-primary {
  background-image: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  font-size: 20px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.form-control-feedback{
  top: 13px;
  right: 15px;
}


/* additional fixes for repair css */
/* mini form prize donate field */
.ppt_inline_donation {
  #price_donate {
    height: initial;
  }

  .price_donate_suggested {
    min-width: auto !important;
  }
  #wsd-checkout-box > div > div > form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div {
    margin-top: 5px;
  }

  .checkout_steps_buttons.nav.navbar-right {
    border-bottom: 1px solid #ddd;
  }

  #wsd_checkout_steps_nav .navbar.checkout_steps_navigation {
    display: flex;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
}
  .checkout_steps_buttons.nav.navbar-right {
    border-bottom: 1px solid #ddd;
  }
  group-btn > .btn {
    height: 45px;
    padding: 10px 3px 3px 5px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .price_donate .input-group-addon {
    min-width: 55px;
    /* width: fit-content; */
  }
  #price_donate {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .arbitrary_price {
    margin-top: 10px;
  }
  #wsd-checkout-box .panel {
    background-color: #fff;
}
  body {
    background-color: #fff;
    font-size: 14px;
}
.price_donate_suggested {
    height: initial;
    width: initial;
    min-width: 70px;
    font-size: initial;
    text-shadow: none;
    color: #333;
    box-shadow: none;
}
.checkout_steps_indicator {
    display: flex;
}
  .price_donate_suggested_currency {
    display: none;
  }
  .ppt_inline_donation .price_donate .input-group-addon {
     width: fit-content;
}
  .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 45px;
    padding: 10px 3px 3px 5px;
    font-size: 18px;
}
  .amount_title, .checkout_title, .payment_title {
    font-size: 14px;
  }
}

/* Subsciption und fsoForms BAckgrond NEwsletter */
.fso_subscription_wrap.fso_subscription_wrap_1,
.fso_form_wrap.fso_form_wrap_6 {
    background-color: #AB1455;
    color: white;
}

/* care repair additional css payment page */
#payment_method .nav-tabs {
    text-align: center;
}
@media only screen and (max-width: 767px) {
  .container #payment_method .nav > li {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  #payment_method .nav-tabs > li {
    float: none;
  }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
#wsd_checkout_form #payment_method .nav-tabs > li img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
}
#payment_method .tab-acquirer-image img,
#payment_method .tab-acquirer-image img.img-responsive {
    display: inline-block;
    max-height: 0.99em;
    width: auto;
}

/* FSO Form adressänderung specific css test */

#wrap.fso_form_wrap.fso_form_wrap_14 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_14 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div,
#wrap.fso_form_wrap.fso_form_wrap_16 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_16 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div,
#wrap.fso_form_wrap.fso_form_wrap_17 > div > div:nth-child(1) > div > div > section.mb16.mt8,
#wrap.fso_form_wrap.fso_form_wrap_17 > div > div:nth-child(1) > div > div > section.mb16.mt8 > div > div {
  display: flex;
}

.btn-warning {
    color: #fff;
    background-color: #e4761e;
    border-color: #e4761e;
    background-image: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    font-size: 20px;
}

/* sale donate responsive */
@media only screen and (max-width: 767px) {
  #website_sale_donate .container {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.has-feedback .form-control {
  padding-right: 10px;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  height: 90px;
}
#wsd_checkout_form label.sr-only {
  top: -30px;
}
@media only screen and (max-width: 767px) {
#wsd_checkout_form label.sr-only {
  display: none;
}}
#payment_method .tab-content {
  font-size: 16px;
}