#wsd_checkout .page-header {
  background: $careyellow;
  padding: 13px 10px 13px 50px;
  font-size: 20px;
  position: relative;
}
#wsd_checkout .page-header:before {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 48px;
  background: white;
  content: ' ';
  left: 10px;
  top: 9px;
}

#wsd_checkout label {
  color: rgba(0,0,0,.5);
}

#wsd_checkout label.text-danger {
  color: $focusorange !important;
}

#wsd_checkout .form-control {
  border-radius: 0;
}

#wsd_checkout .form-control:focus {
  border-color: $focusorange;
  box-shadow: none;
}
