$orange: #efb71b;
// Test

body {
    font-family: 'HelveticaNeueLTStd-Roman', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 17.6000003814697px;
    line-height: 1.618em;
    color: #333;
    margin: 0;
    padding: 0;
}

strong {
  font-family: 'HelveticaNeueLTStd-Bold';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeueLTStd-Roman';
}

// #wsd_checkout_form {
//   h1, h2, h3, h4, h5, h6 {
//     font-family: 'HelveticaNeueLTStd-Roman', Helvetica, Arial, sans-serif;
//   }
// }

.container {
  width: 100%;
  max-width: 1440px;
}

footer {
    // background-color: #272727;
    background: #333;
    border-top: 1px solid #eeeeee;
    // color: #555555;
    color: $careyellow;
    min-height: 355px;
    // visibility: hidden;
   font-size: small;
  p {
    color: white;
    a {
      color: white;
    }
    a:hover {
        color: $careyellow;
      }
  }
  .col-md-4 {
    border-right: 1px solid #808080;
  }
  .col-md-4:last-child {
    border-right: none;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin:0 0 0.809em 0;
    line-height: 1.2em;
}

h4{
    font-family: 'OpenSansABold', "Open Sans", sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; margin-bottom: 0.125em; padding: 0;}
h5 { font-size: 18px; }

p {
    font-size: 1em;
    line-height: 1.518em;
    margin: 0 0 1.618em 0;
    padding: 0;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: $orange;
}

// COLOURS
.text-primary {
    color: $orange;
}

@media only screen and (max-width: 767px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px; }

  .container {
    #wsd_checkout_form .price_donate_suggested {
      height: 60px;
    }

    .arbitrary_price > span, .arbitrary_price > div{
      display: block;
    }

    .price_donate_suggested_outer {
      display: block;
      margin: 5px 0;
    }

    #wsd_checkout_form .price_donate .input-group-addon, #wsd_checkout_form #price_donate {
      height: 60px;
    }

    #payment_method .nav > li {
      display: block;
      text-align: center;
    }

    #wsd_checkout_form #payment_method .nav-tabs > li > a {
      border: 1px solid #ddd;
      margin-right: 0;
    }

    #wsd_checkout_form #payment_method .nav-tabs > li:last-child {
        float: none;
    }
  }
}

/* JQUERY VALIDATE */
.apf_container .form-control-feedback {
    right: 10px;
    top: 33px;
}
